nav{
    background-color: rgb(165, 203, 128);
}

body{
    margin: 0;
    padding: 0;
}

.nav-logo{
    font-size: 25px;
    font-family:Arial, Helvetica, sans-serif
    color: rgb(0, 0, 0);
    padding: 10px 20px;
}